body{
    background-image: url(images/back7.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color:#ee82ee; */
    color:red ;
    font-size: larger;
    
}
a{
    font-size: 50px;
}



